---
import { Image } from "astro:assets";
import MuzikoScreenshot from "../assets/muziko-screenshot.png";
import NeuralPlaygroundScreenshot from "../assets/neural-playground-screenshot.png";
import ProjectHero from "../components/ProjectHero.astro";
import Layout from "../layouts/Layout.astro";
import MolesScreenshot from "../assets/moles-screenshot.png";
import ArchmarkScreenshot from "../assets/archmark-screenshot.png";
import WikidDemo from "../assets/wikid-demo.gif";
import DivinimScreenshot from "../assets/divinim-screenshot.png";
---

<Layout>
  <div class="hero">
    <div class="hero-content text-center gap-5 flex flex-col">
      <h1 class="mb-5 text-5xl font-bold">Daniel Kinsey's Projects</h1>
      <p class="max-w-lg">
        Here you can find a [non-exhaustive] list of projects I've worked on,
        and some description of what they are and how I made them. Some are
        polished versions of university work, some are made on my own time.
        Listed in approximately reverse chronological order.
      </p>
      <div class="divider"></div>
      <div class="grid grid-cols-1 gap-4">
        <ProjectHero>
          <span slot="title">This Website</span>
          <span slot="description">
            <p>
              This website was built to act as a portfolio and a demonstration
              of my home server. The site is made with Astro and Vue, using
              daisyui's tailwindcss components, and paper.js for the background
              animation. My resume is written in LaTeX and compiled along with
              the website. The main branch gets built in a Docker image and
              served with nginx, which my home server pulls and runs. The server
              is an old refurbished ThinkCenter running Debian, and all traffic
              is routed through Cloudflare and an internal nginx reverse proxy.
              The server hosts a few other services as well for friends and
              family.
            </p>
          </span>
          <span slot="links">
            <a
              class="btn btn-primary"
              href="https://github.com/kinseyda/website"
            >
              View GitHub Repository
            </a>
          </span>
        </ProjectHero>
        <ProjectHero>
          <span slot="title">Divinim</span>
          <Image
            slot="image"
            src={DivinimScreenshot}
            alt="Divinim project screenshot"
            class=""
          />
          <span slot="description">
            <p>
              Divinim was my honours project as a Computer Science student at
              the University of Ottawa: a game of mine and my supervisor's
              creation, an abstraction of the game "Bad Chocolate", sometimes
              called Chomp. The game is played on a grid of squares, where one
              piece is "poisoned". Players take turns breaking the bar along one
              gridline, giving the other player the part with the poisoned
              piece, who then has to break the bar again. The game ends when the
              individual poisoned piece is handed to a player, who loses the
              game. Our abstraction, Divinim, allows for multiple pieces to be
              poisoned. This addition leads to a more complex game, and
              analyzing it was the goal of the project.
            </p>
            <p>
              The main deliverable of the project was a report and presentation
              written in LaTeX analyzing the game theory: determining if an
              ideal strategy exists and what it might be. I am also creating a
              web version of the game, which is not yet complete.
            </p>
          </span>
        </ProjectHero>
        <ProjectHero>
          <span slot="title">Wikid</span>
          <Image
            slot="image"
            src={WikidDemo}
            alt="Wikid project screenshot"
            class=""
          />
          <span slot="description">
            <p>
              Wikid is a terminal interface for reading offline Wikipedia dumps.
              It was built using Go and the Bubble Tea TUI framework. It uses
              pandoc to convert the MediaWiki markup to terminal-friendly
              markdown, and indexes the articles and metadata using Meilisearch.
            </p>
          </span>
          <span slot="links">
            <a class="btn btn-primary" href="https://github.com/kinseyda/wikid">
              View GitHub Repository
            </a>
          </span>
        </ProjectHero>
        <ProjectHero>
          <span slot="title">Muziko</span>
          <Image
            slot="image"
            src={MuzikoScreenshot}
            alt="Muziko project screenshot"
            class=""
          />
          <span slot="description">
            <p>
              Muziko is a website that allows users to post comments on songs,
              albums, and artists. The goal of the project was to create a
              vertical slice of a full web application. The front-end was built
              with React, using Tailwind and daisyui for styling. It includes
              multiple themes, uses responsive design, has full language
              support, and was built with accessibility in mind. The back-end
              uses Firebase for user authentication with firestore as a database
              for the comments. The music data is pulled from Spotify's API.
            </p>
          </span>
          <span slot="links">
            <a class="btn btn-primary" href="https://kinseyda.github.io/muziko">
              View Project
            </a>
            <a
              class="btn btn-primary"
              href="https://github.com/kinseyda/muziko"
            >
              View GitHub Repository
            </a>
          </span>
        </ProjectHero>
        <ProjectHero>
          <span slot="title">Neural Playground</span>
          <Image
            slot="image"
            src={NeuralPlaygroundScreenshot}
            alt="Neural Playground project screenshot"
            class=""
          />
          <span slot="description">
            <p>
              Neural Playground is a web application that allows users to
              experiment with neural networks. It was built as a personal
              project to learn more about machine learning and neural networks,
              with my goal being to create the entire network in the browser,
              using only my own code. The result is a Typescript implementation
              of a simple feedforward neural network and an implementation of
              the backpropagation algorithm, including the vector math that goes
              along with that. Since the entire network is implemented in
              Typescript and runs in the browser, it is not very performant, but
              it is educational. The user can create a network, train it on a
              small dataset, and see it learn in real time. Provided datasets
              are all basic logic gates and functions on small numbers, in order
              to get a fast result. To display the network as a graph, I used
              vis.js.
            </p>
          </span>
          <span slot="links">
            <a
              class="btn btn-primary"
              href="https://kinseyda.github.io/neural-playground"
            >
              View Project
            </a>
            <a
              class="btn btn-primary"
              href="https://github.com/kinseyda/neural-playground"
            >
              View GitHub Repository
            </a>
          </span>
        </ProjectHero>
        <ProjectHero>
          <span slot="title">Moles</span>
          <Image
            slot="image"
            src={MolesScreenshot}
            alt="Moles project screenshot"
            class=""
          />
          <span slot="description">
            <p>
              Moles is a text-based incremental game where you manage a colony
              of moles. These sorts of games are often pejoratively called
              "clicker" / "idle" games, which may be a more familiar name to
              you. They are very addicting to me, so I was inspired to make one
              as my first web project. It was built using Vue and plain
              TypeScript / HTML / CSS, all the components and visual effects
              were created by me.
            </p>
          </span>
          <span slot="links">
            <a class="btn btn-primary" href="https://kinseyda.github.io/moles">
              View Project
            </a>
            <a class="btn btn-primary" href="https://github.com/kinseyda/moles">
              View GitHub Repository
            </a>
          </span>
        </ProjectHero>
        <ProjectHero>
          <span slot="title">ArchMark</span>
          <Image
            slot="image"
            src={ArchmarkScreenshot}
            alt="ArchMark project screenshot"
            class=""
          />
          <span slot="description">
            <p>
              ArchMark is an Android app that allows users to quickly score
              archery rounds. It was the first "real" project I worked on as a
              programmer, and so I don't know if it deserves a place here, but
              it holds a special place in my heart and so I'm including it. It
              was built using Kotlin and the Android SDK.
            </p>
          </span>
          <span slot="links">
            <a
              class="btn btn-primary"
              href="https://github.com/kinseyda/archmark"
            >
              View GitHub Repository
            </a>
          </span>
        </ProjectHero>
      </div>
    </div>
  </div>
</Layout>
